<VirtualHost *:80>
    ServerName companynews.avijitpal9.com
    Redirect / https://companynews.avijitpal9.com/
    Redirect /companyNews https://companynews.avijitpal9.com/companyNews
#   DocumentRoot /var/www/companynews/html
#   ErrorLog /var/www/companynews/error.log
#   CustomLog /var/www/companynews/requests.log combined
#   Alias "/companyNews/styles" "/var/www/companynews/html/static/styles"
#   Alias "/companyNews/images" "/var/www/companynews/html/static/images"
#   ProxyPass "/companyNews/styles/company.css" "!"
#   ProxyPass "/companyNews/images/logo.png" "!"
#   ProxyPass "/companyNews" "http://{{ my_backends }}:8080/companyNews"
#   ProxyPassReverse "/companyNews" "http://{{ my_backends }}:8080/companyNews"
</VirtualHost>

<VirtualHost *:443>
    ServerName companynews.avijitpal9.com
    DocumentRoot /var/www/companynews/html
    ErrorLog /var/www/companynews/error.log
    CustomLog /var/www/companynews/requests.log combined
    Alias "/companyNews/styles" "/var/www/companynews/html/static/styles"
    Alias "/companyNews/images" "/var/www/companynews/html/static/images"
    SSLEngine On
    SSLCertificateFile     /etc/httpd/ssl/companynews.avijitpal9.com.crt
    SSLCertificateKeyFile   /etc/httpd/ssl/companynews.avijitpal9.com.key
    SSLCertificateChainFile /etc/httpd/ssl/companynews.avijitpal9.com-fullchain.crt
    ProxyPass "/companyNews/styles/company.css" "!"
    ProxyPass "/companyNews/images/logo.png" "!"
    ProxyPass "/companyNews" "http://{{ my_backends }}:8080/companyNews"
    ProxyPassReverse "/companyNews" "http://{{ my_backends }}:8080/companyNews"
</VirtualHost>
